.container {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:15px;
  margin-left:39%;
  width:20%;
  padding:15px;
  transform:rotate(15deg);
  margin-top:5%;
  margin-bottom:5%;
  
  
  
}



.pokemon {
  margin-top:45%;
  
  text-align:center;
  position:relative;
  height:120px;
  display:flex;
  align-items: flex-start;
  
}

.pokemon img {
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 110px;
  
 

}


.aboutpath {
  background-color: aqua;
  text-align:center;
}



.pokemon p {
  text-align:left;
  position:absolute;
  width: 10%;
  top: 5px;
  left: 20px;
  
}

.pokemon img {
justify-content:flex-start;
position:absolute;

bottom:5px;
right:0;
height:110px;
transition-duration: 0.2;
}


.pokemon:hover img {
  transform: scale(2) rotate(15deg);
  animation-name: turning;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: infinite;
}

@keyframes turning {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.25) rotate(15deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}




.pokemon:hover img {
transform: scale(1.25) rotate(15deg);
}
.pagination {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:15px;
  padding: 0, 15px;
}
/* let me unmute so communicate easy*/
.button {
  border-radius:8px;
  padding:15px;
  font-size:18px;
  font-weight:600;
  letter-spacing:2px;
  background-color:#eee;
  transition-duration: 0.5s;
  color:#000;
  text-align:center;
  }


.button:hover {
  background-color:#ddd;
  cursor:pointer;
}

.button:disabled {
  color:#999;
}


.button:disabled:hover {
  background-color:#eee;
  cursor:not-allowed;
}

.page-number {
  text-align:center;
  font-size:18px;
  font-weight:600;
  color:rgb(5, 198, 59);

}

.form {
  display:grid;
  grid-template-columns: 3fr 1fr;
  width:calc(100% - 30px);
  margin-left:15px;
  margin-top:15px;
}


.form input {
  padding:15px;
 border:none;
 background-color:#eee;
}


.form button {
background-color:rgb(39, 178, 238);
color:#fff;
font-weight:800;
border:none;
border-top-right-radius: 8px;
border-bottom-right-radius:8px;
}


.form button:hover {
  opacity:0.8;
  cursor:pointer;
}
.error-message {
  display:flex;
  flex-direction:column;
  flex-flow: column;
  color:red;
  padding:0 15px;
  font-size:20px;
  text-transform:uppercase;
  text-align:center;
  margin:0;
  margin-bottom:15px;
  font-weight:800px;
}